/* Jonny's custom styles */

.page-header {
  color: #fff;
  text-align: center;
  background-color: #3962AC;
  background-image: linear-gradient(120deg, #3962AC, #DE9CD8); }

.main-content {
  background-color: #fff;
}

.main-content h3 {
  color: #3962AC;
  margin-bottom: 2em;
  margin-top: 5em;
}

img {
  margin-top: 1em;
}

a {
  color: #D788CC;
}

ul, ol {
  padding-left: 1.6em;
}

li {
  margin-top: 1em;
}